<header>

  <div class="flex justify-between items-center">

    <a href="/en/" title="Homepage" class="{{home}} group flex items-center">
      <img src="/images/nikogenia-128x128.png" alt="nikogenia logo" title="Nikogenia" class="h-12 hidden x-sm:block mr-4"></img>
      <h2 class="font-bold text-2xl x-sm:text-3xl group-hover:text-accent transition-colors">Nikogenia</h2>
    </a>

    <div class="group relative inline-block text-secondary-text text-xl">

      <div class="flex items-center justify-end w-40 cursor-default">
        <div class="block group-hover:hidden">Language</div>
        <div class="hidden group-hover:block">English</div>
        <img src="/icons/lang/english.png" alt="flag of USA" class="w-9 h-9 ml-3 x-sm:ml-4"></img>
      </div>

      <div class="hidden group-hover:block absolute z-10 -right-3 pt-3 animate-flip-down animate-duration-300">
        <div class="bg-primary rounded-lg overflow-hidden bg-opacity-50">
          <a href="{{de}}" class="flex items-center justify-end space-x-3 x-sm:space-x-4 p-3 hover:bg-accent hover:text-background transition-colors">
            <div>Deutsch</div>
            <img src="/icons/lang/german.png" alt="flag of germany" class="w-9 h-9"></img>
          </a>
          <a href="{{zh}}" class="flex items-center justify-end space-x-3 x-sm:space-x-4 p-3 hover:bg-accent hover:text-background transition-colors">
            <div>中文</div>
            <img src="/icons/lang/chinese.png" alt="flag of china" class="w-9 h-9"></img>
          </a>
        </div>
      </div>

    </div>
  </div>

</header>
