<header>

  <div class="flex justify-between">

    <a href="/" title="Startseite" class="{{home}} group flex items-center space-x-4">
      <img src="/images/nikogenia.svg" alt="nikogenia logo" title="Nikogenia" class="h-14 hidden x-sm:block"></img>
      <h2 class="font-bold text-2xl x-sm:text-3xl group-hover:text-accent transition-colors">Nikogenia</h2>
    </a>

    <div class="group relative inline-block text-secondary-text text-xl">

      <div class="flex items-center justify-end pl-3 p-2 w-44">
        <div class="block group-hover:hidden">Sprache</div>
        <div class="hidden group-hover:block text-secondary-text">Deutsch</div>
        <img src="/icons/lang/german.png" alt="flag of germany" class="w-12 h-12 ml-2 x-sm:ml-4"></img>
      </div>

      <div class="hidden group-hover:block bg-primary absolute z-10 right-0 rounded-lg overflow-hidden animate-flip-down animate-duration-300">
        <a href="{{en}}" class="flex items-center justify-end space-x-2 x-sm:space-x-4 pl-3 p-2 hover:bg-accent hover:text-background transition-colors">
          <div>English</div>
          <img src="/icons/lang/english.png" alt="flag of USA" class="w-12 h-12"></img>
        </a>
        <a href="{{zh}}" class="flex items-center justify-end space-x-2 x-sm:space-x-4 pl-3 p-2 hover:bg-accent hover:text-background transition-colors">
          <div>中文</div>
          <img src="/icons/lang/chinese.png" alt="flag of china" class="w-12 h-12"></img>
        </a>
      </div>

    </div>
  </div>

</header>
