<footer>
  <div class="flex items-center justify-between text-secondary-text p-2">
    <p>© 2024 <a href="/" title="Homepage" class="hover:text-accent transition-colors">Nikogenia</a></p>
    <p class="text-right">
      <a href="/kontakt" title="Kontakt" class="hover:text-accent transition-colors">Kontakt</a>
      <span class="text-divider"> | </span>
      <a href="/impressum" title="Impressum" class="hover:text-accent transition-colors">Impressum</a>
      <span class="text-divider"> | </span>
      <a href="/datenschutz" title="Datenschutz" class="hover:text-accent transition-colors">Datenschutz</a>
    </p>
  </div>
</footer>
