<footer>

  <div class="flex items-center justify-between text-secondary-text p-2 space-x-2">

    <p class="text-xs sm:text-base">© 2024 <a href="/" title="Startseite" class="hover:text-accent transition-colors">Nikogenia</a></p>

    <p class="text-right text-nowrap">
      <a href="/kontakt" title="Kontakt" class="hover:text-accent transition-colors">Kontakt</a>
      <span class="text-divider"> | </span>
      <a href="/impressum" title="Impressum" class="hover:text-accent transition-colors">Impressum</a>
      <span class="text-divider"> | </span>
      <a href="/datenschutz" title="Datenschutz" class="hover:text-accent transition-colors">Datenschutz</a>
    </p>
    
  </div>

</footer>
