<footer>

  <div class="flex items-center justify-between text-secondary-text p-2 space-x-2">

    <p class="text-xs sm:text-base">© 2024 <a href="/en/" title="Homepage" class="hover:text-accent transition-colors">Nikogenia</a></p>

    <p class="text-right text-nowrap">
      <a href="/en/contact" title="Contact" class="hover:text-accent transition-colors">Contact</a>
      <span class="text-divider"> | </span>
      <a href="/en/imprint" title="Imprint" class="hover:text-accent transition-colors">Imprint</a>
      <span class="text-divider"> | </span>
      <a href="/en/privacy" title="Privacy" class="hover:text-accent transition-colors">Privacy</a>
    </p>
    
  </div>

</footer>
