<header>

  <div class="flex justify-end text-secondary-text text-xl">
    <div class="group relative inline-block">

      <div class="flex items-center justify-end pl-3 p-2 w-56">
        <div class="block group-hover:hidden">Sprache</div>
        <div class="hidden group-hover:block text-secondary-text">Deutsch</div>
        <img src="/assets/icon/lang/german.png" alt="flag of germany" class="w-12 h-12 ml-4"></img>
      </div>

      <div class="hidden group-hover:block bg-primary absolute z-10 right-0 rounded-lg overflow-hidden animate-fade animate-duration-150">
        <a href="{{en}}" class="flex items-center justify-end space-x-4 pl-3 p-2 hover:bg-accent hover:text-background transition-colors">
          <div>English</div>
          <img src="/assets/icon/lang/english.png" alt="flag of USA" class="w-12 h-12"></img>
        </a>
        <a href="{{zh}}" class="flex items-center justify-end space-x-4 pl-3 p-2 hover:bg-accent hover:text-background transition-colors">
          <div>中文</div>
          <img src="/assets/icon/lang/chinese.png" alt="flag of china" class="w-12 h-12"></img>
        </a>
      </div>

    </div>
  </div>

</header>
