<!doctype html>

<html lang="{{lang}}" style="--mouse-x: 50%; --mouse-y: 50%; --scroll-section2: 0; --scroll-section1: 0;">

  <head>

    <meta charset="UTF-8" />

    <link rel="icon" type="image/x-icon" href="/icons/fav/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/fav/favicon-16x16.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script type="module" src="/main.js"></script>

    <title>{{title}}</title>
    <meta name="description" content={{>description}}>
    <meta name="keywords" content="nikogenia, nikolas, beyer, portfolio, homepage">

  </head>

  <body class="bg-background bg-pattern overflow-x-hidden overflow-y-auto">

    <div class="fixed -z-50 left-0 top-0 w-full h-full light"></div>

    <div class="font-sans text-sm x-sm:text-base text-primary-text
    p-6 x-sm:p-9 w-full min-h-[100svh] flex flex-col justify-between {{#>style-div}}{{/style-div}}">
      {{>content}}
    </div>

  </body>

</html>
