<footer>

  <div class="flex items-center justify-between text-secondary-text p-2 space-x-2">

    <p class="text-xs x-sm:text-base">© 2024 <a href="/zh/" title="主页" class="hover:text-accent transition-colors">Nikogenia</a></p>

    <p class="text-right text-nowrap">
      <a href="/zh/联系方式" title="联系方式" class="hover:text-accent transition-colors">联系方式</a>
      <span class="text-divider"> | </span>
      <a href="/zh/版权" title="版权" class="hover:text-accent transition-colors">版权</a>
      <span class="text-divider"> | </span>
      <a href="/zh/数据保护" title="数据保护" class="hover:text-accent transition-colors">数据保护</a>
    </p>
    
  </div>

</footer>
