@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Farro';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/fonts/Farro-Light.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Farro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Farro-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Farro';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/Farro-Medium.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Farro';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/Farro-Bold.ttf) format('truetype');
  }
}

@keyframes bounce-projects {
  0%, 100% {
    transform: none;
    animation-timing-function: cubic-bezier(.19,0,.33,.73);
  }
  50% {
    transform: translateY(-10%);
    animation-timing-function: cubic-bezier(.57,.34,.81,.99);
  }
}

.hover\:animate-bounce-projects:hover {
  animation: bounce-projects var(--tw-animate-duration, 1s) var(--tw-animate-easing, ease) var(--tw-animate-delay, 0s) var(--tw-animate-iteration, infinite) var(--tw-animate-fill, none);
}
.hover\:animate-bounce-projects:hover {
  animation-composition: var(--tw-animate-composition);
}

@keyframes ping-zoom {
    25%, 0% {
        transform: scale(1.4);
        opacity: 0;
    }
}
.animate-ping-zoom {
    animation: ping-zoom var(--tw-animate-duration, 1s) var(--tw-animate-easing, cubic-bezier(0, 0, 0.2, 1)) var(--tw-animate-delay, 0s) var(--tw-animate-iteration, infinite) var(--tw-animate-fill, none);
}
.animate-ping-zoom {
    animation-composition: var(--tw-animate-composition);
}
